<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Log in</button>
        <p>Not a member?
            <a href="">Register</a>
        </p>

        <!-- Social login -->
      <p>or sign in with:</p>
      <a type="button" mat-button floating="true" color="fb" size="sm">
        <mat-icon aria-hidden="false">facebook</mat-icon>
      </a>
      <a type="button" mat-button floating="true" color="tw" size="sm">
        <mat-icon aria-hidden="false">mail_outline</mat-icon>
      </a>
      </form>
    </mat-card>
  
  </div>